<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgn">
  <ion-card color="ipn">
    <ion-card-header>
      <ion-card-subtitle>Preguntas Frecuentes</ion-card-subtitle>
      <ion-card-title>¿Quiénes somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Diabetómetro, desarrollado en CIITEC. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </ion-card-content>
  </ion-card>
  <ion-card color="ipn">
    <ion-card-header>
      <ion-card-subtitle>Preguntas Frecuentes</ion-card-subtitle>
      <ion-card-title>¿Qué hacemos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Diabetómetro, desarrollado en CIITEC. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </ion-card-content>
  </ion-card>
  <ion-card color="ipn">
    <ion-card-header>
      <ion-card-subtitle>Preguntas Frecuentes</ion-card-subtitle>
      <ion-card-title>¿Por qué?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Diabetómetro, desarrollado en CIITEC. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </ion-card-content>
  </ion-card>
  <ion-card color="ipn-invertido">
    <ion-card-header>
      <ion-card-title>¿No encontraste tu pregunta?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="ipn-claro">
        <ion-label position="floating">Escribe tu pregunta aquí</ion-label>
        <ion-input></ion-input>
      </ion-item>    
      <ion-button size="large" color="ipn" class="center-button">
        <ion-icon class="big-icon-button" name="help-circle-outline" slot="start"></ion-icon>
        Envía tu pregunta
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
