<ion-content class="bgn">

    <ion-card color="ipn">
      <ion-card-header>
        <ion-card-title>Por favor ingresa tus datos</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Apellido paterno</ion-label>
          <ion-input></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Apellido materno</ion-label>
          <ion-input></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Nombre/s</ion-label>
          <ion-input></ion-input>
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>     
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="pssword"></ion-input>
        </ion-item>        
      </ion-card-content>
    </ion-card>
    <ion-button size="full" >Regístrate</ion-button>   
</ion-content>