.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-content {
    //--background: #FFFFFF;
    --background: url("C:/Users/LeoAr/app-ciitec/src/app/img/dirGralIPN.jpg");
}

ion-spinner {
    --color: var(--ion-item-background);
}