<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgn">
  <ion-card color="ipn-invertido">
    <ion-card-header>
      <ion-card-subtitle>Artículo</ion-card-subtitle>
      <ion-card-title>Predicción de diabetes a través de imágenes retinales usando deep learning</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      Hay otros métodos de detección de diabetes que pueden apoyarse de la inteligencia artificial, tal es el caso del equipo de 
      investigadores de Mahmoud Ragad, que está utilizando deep learning y visión de máquina para analizar imágenes retinales de 
      pacientes y detectar ciertos patrones en los vasos sanguíneos visibles en las retinas. 

      <div class="image-desc">
        <ion-img src="/assets/retina1.png"></ion-img>

        Imagen retinal de un paciente con diabetes.

      </div>

      A través de diferentes transformaciones se optimiza la imagen para la detección de los vasos sanguíneos
      visibles.

      <div class="image-desc">
        <ion-img src="/assets/retina2.png"></ion-img>
        Imagen retinal de un paciente con diabetes, modificada con distintos filtros.
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="ipn">
    <ion-card-header>
      <ion-card-subtitle>Artículo</ion-card-subtitle>
      <ion-card-title>¿Qué relación tiene el aliento con la diabetes?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      Existen muchos tipos de pruebas para detectar síntomas de diabetes, desde la más clásica, 
      que mide glucosa en sangre, hasta las más avanzadas y complejas, que utilizan aparatos como 
      cromatógrafos de gases y espectrométros de masas. Pero Diabetómetro utiliza el aliento de los
      pacientes para predecir glucosa en sangre. ¿Cómo lo hace?

      <div class="image-desc">
        <ion-img src="/assets/glucometro.jpg"></ion-img>

        El glucómetro es el aparato más común para monitorear la diabetes.

      </div>

      <p>La diabetes, explicada de una manera sencilla, es causada por la incapacidad de las células del cuerpo
       de absorber la azúcar que consumimos y que nuestro cuerpo distribuye a través de la sangre. Al no ser consumida,
       la azúcar se "atora" en el torrente sanguíneo, esta azúcar es la que se mide en un glucómetro.</p>

      <p>Esta inhabilidad de las células de consumir azúcar causa que estas busquen otras fuentes de energía, que,
      por lo general, significa que empiezan a consumir las grasas almacenadas en el cuerpo.</p>

      <div class="image-desc">
        <ion-img src="/assets/diagrama1.png"></ion-img>
        Diagrama simplificado de la producción de cetonas por beta oxidación.
      </div>

      <p>Cuando las células de nuestro cuerpo consumen grasas lo hacen a través de un mecanismo metabólico 
      llamado 'Beta Oxidación', y al ocurrir este proceso se generan algunos productos de desecho, como lo es la 
      acetona.</p>

      <p>La acetona es un compuesto altamente volátil (que se evapora fácilmente) y generalmente es liberado de nuestro cuerpo 
      a través de la exhalación. Oséase, del aliento.</p>

      <p>Este compuesto (la acetona) es el biomarcador detectado y medido por Diabetómetro, gracias a un dispositivo 
      con sensores que lo detectan. </p>

      <p>Sin embargo, no es suficiente con medir la cetona en el aliento de alguien, se requiere de un algoritmo un poco
      más complicado e inteligente...</p>

    </ion-card-content>
  </ion-card>

  <ion-card color="ipn-invertido">
    <ion-card-header>
      <ion-card-subtitle>Artículo</ion-card-subtitle>
      <ion-card-title>¿De qué otras maneras se puede monitorear la diabetes?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      La forma más común ("el estándar dorado") de monitorear la diabetes es a través de los niveles de 
      glucosa en sangre. Sin embargo, existen otras maneras de monitorear la diabetes a través de otros fluidos.

      <div class="image-desc">
        <ion-img src="/assets/retina1.png"></ion-img>

        Imagen retinal de un paciente con diabetes.

      </div>

      La sangre es el fluido que analizan los glucómetros, y debido a que esta es afectada directamente por la
      diabetes, tiene los niveles más altos de glucosa que pueden ser detectados.

      <div class="image-desc">
        <ion-img src="/assets/retina2.png"></ion-img>
        Imagen retinal de un paciente con diabetes, modificada con distintos filtros.
      </div>

      La orina es es otro fluido que puede ser analizado para monitorear la diabetes. Ya existen, incluso, 
      dispositivos para medir la glucosa en sangre a través de la glucosa en la orina de los pacientes. Esto es 
      más común en Asia y, en particular, en Japón. La pricipal ventaja de la orina en este ámbito es que es 
      obtenible de maneras menos invasivas o dolorosas.

      Sin embargo, un factor que evita que la orina sea comunmente usado para la detección de diabetes en pacientes
      es que para que la orina tenga niveles detectables de glucosa, el nivel de glucosa en sangre debe ser 
      peligrosamente alto, al grado de poner en riesgo el bienestar y la vida del paciente.

      Otro fluído que ha sido estudiado para la detección y monitoreo de la diabetes es la saliva. La saliva
      también contiene concentraciones más altas de glucosa si el paciente tiene diabetes. La saliva, en contraste 
      de la orina y la sangre, es aún menos invasivo y rápidamente obtenible, lo cual lo vuelve un método muy 
      atractivo de monitoreo de glucosa en infantes y adultos mayores. Sin embargo, sufre del mismo problema de 
      concentraciones bajas.

      Las lágrimas y el sudor han sido estudiadas parcialmente para el monitoreo de la diabetes. Aunque parezca que
      su obtención sería de naturaleza invasiva, el sudor en particular es una opción atractiva para la creación 
      dispositivos "wearables", como la pulsera Glucowatch.

      

    </ion-card-content>
  </ion-card>

</ion-content>
