<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgn">
  <ion-card color="ipn">
    <img src="https://i.pinimg.com/originals/bc/4f/94/bc4f94c82d1de6db1f092dec3f1b557a.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Actualización</ion-card-subtitle>
      <ion-card-title>¡Hola, mundo!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Diabetómetro por fin tiene una maqueta de interfaz. 
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Suspendisse vehicula augue quis condimentum fermentum. 
      Quisque malesuada sollicitudin arcu sed eleifend. 
      In ex quam, tincidunt sed tortor vel, suscipit bibendum ex. 
      Nunc eu ultrices magna. Sed molestie pellentesque euismod. 
      Vivamus lectus quam, consequat eu volutpat quis, ultricies nec felis. 
      Cras feugiat, tortor a mattis maximus, sem tellus lacinia felis, vel ullamcorper risus augue nec justo. 
      Donec porttitor lectus at massa maximus mollis. 
      Mauris nisl velit, ultrices ac auctor eu, ullamcorper et nibh. 
      Mauris tempus metus vel massa semper lobortis. 
    </ion-card-content>
  </ion-card>
  <ion-card color="ipn">
    <img src="https://wl-genial.cf.tsp.li/resize/728x/jpg/048/cd5/35e9fa57e699fcca60e127a16c.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Noticias</ion-card-subtitle>
      <ion-card-title>¿Sabes qué es la diabetes?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Entérate aquí:
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Suspendisse vehicula augue quis condimentum fermentum. 
      Quisque malesuada sollicitudin arcu sed eleifend. 
      In ex quam, tincidunt sed tortor vel, suscipit bibendum ex. 
      Nunc eu ultrices magna. Sed molestie pellentesque euismod. 
      Vivamus lectus quam, consequat eu volutpat quis, ultricies nec felis. 
      Cras feugiat, tortor a mattis maximus, sem tellus lacinia felis, vel ullamcorper risus augue nec justo. 
      Donec porttitor lectus at massa maximus mollis. 
      Mauris nisl velit, ultrices ac auctor eu, ullamcorper et nibh. 
      Mauris tempus metus vel massa semper lobortis. 
    </ion-card-content>
  </ion-card>
</ion-content>
